
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ variables ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 

// z-index system 
$ui-index-1: 1; //for crawling elements in the total flow
$ui-index-2: 2; //for crawling elements in the total flow
$ui-index-3: 3; //for masks and shadows
$ui-index-4: 4; //sidebars 
$ui-index-5: 5; //for modal windows
$ui-index-6: 6; //for modal windows

//colors 


// ----------------------------------------------------------------------------------------------------------------------

// other


// ----------------------------------------------------------------------------------------------------------------------

// @media  
$ui-mobile: '500px';
$ui-tablet: '1000px';
$ui-desktop: '1200px';














